@tailwind base;
@tailwind components;
@tailwind utilities;

.text{
  background: linear-gradient(-45deg, #a94e7c, #7d2e65, #b2289d, #9a0d4d);
  color: transparent;
  background-clip: text;
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  -ms-text-overflow: clip;
}


@keyframes gradient {
  0%{
      background-position: 0% 50%;
  }
  50%{
      background-position: 100% 50%;
  }
  100%{
      background-position: 0% 50%;
  }
}

.banner{
  background-image: url('../src/assets/images/banner.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
   
}

.animated-bg {
  background: linear-gradient(270deg, #280842, #000000,#2652d4);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}