@tailwind base;
@tailwind components;
@tailwind utilities;

.text{
  background: linear-gradient(-45deg, #961c59, #ab2b85, #90127d, #a11d58);
  color: transparent;
  background-clip: text;
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  -ms-text-overflow: clip;
}


@keyframes gradient {
  0%{
      background-position: 0% 50%;
  }
  50%{
      background-position: 100% 50%;
  }
  100%{
      background-position: 0% 50%;
  }
}